version: '3.9'

services:

  web:
    build: .
    command: bash -c "python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - minio
      - redis   # Добавляем зависимость от Redis

  db:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: quay.io/minio/minio:RELEASE.2022-10-15T19-57-03Z
    container_name: minio
    command: server --console-address ":9001" /data
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    volumes:
      - minio-data:/data

  redis:
    image: redis:7.2-alpine   # Лёгкий официальный образ Redis
    container_name: redis
    ports:
      - "6379:6379"           # Пробрасываем порт Redis (если нужно подключаться снаружи)
    volumes:
      - redis_data:/data      # Храним данные Redis в volume
    command: ["redis-server", "--appendonly", "yes"]  # Включаем AOF для сохранности данных

  nginx:
    image: nginx:1.19.2-alpine
    container_name: nginx
    hostname: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:8000"
    depends_on:
      - web

volumes:
  postgres_data:
  minio-data:
  redis_data:
