{% extends "distance_calculation/base.html" %}
{% load static %}

{% block title %}Заявка #{{ request_id }}{% endblock %}

{% block content %}

<!-- Информация о телескопе и дате -->
<div class="request-header">
    <div class="header-item">
        <strong>Телескоп</strong>
        <span class="tel-name">{{ telescope_name }}</span>
    </div>
    <div class="header-item">
        <strong>Дата</strong>
        <span class="date">{{ date }}</span>
    </div>
</div>


<!-- Заголовки столбцов -->
<div class="request-headers">
    <div class="header-col magnitude">Видимая звездная величина</div>
    <div class="header-col distance">Расстояние</div>
</div>

<!-- Карточки услуг -->
<section class="request-grid" aria-label="Галактики в заявке">
    {% for galaxy in galaxies %}
        <article class="request-card">
            <img class="galaxy-request-image" src="{{ galaxy.image_url }}" alt="{{ galaxy.name }}">
            <div class="galaxy-request-info">
                <h3 class="galaxy-request-name">{{ galaxy.name }}</h3>
                <div class="col magnitude">{{ galaxy.magnitude }}</div>
                <div class="col distance">{{ galaxy.distance }} Мпк</div>
            </div>
        </article>
    {% endfor %}
</section>

{% endblock %}